<p>Ma liste de courses</p>
<ul>
    <li *ngFor="let food of foodList">{{food}}</li>
    <li>Poisson</li>
    <li [ngClass]="{'necessary': isNecessary}">Jambon</li>
    <li>Cornichon</li>
    <li [ngStyle]="{'background-color': isNecessary ? 'lightgreen' : 'lightblue'}">Ginger Ale</li>
</ul>
<h2>Abonnement Premium</h2>
<h3>Vous êtes abonné Premium cher {{subscriber.firstname}}</h3>
<ul *ngIf="isPremium"; else other>
  <li *ngFor="let serie of subscriber.watchedList">{{serie}}</li>  
</ul>
<p #other>Pour plus de services, vous pouvez souscrire un abonnnement Premium</p>



