<div>
    <p>Hello dear visitor! How are you?</p>
    <img src="{{user.photo}}" alt="{{user.firstName}}" />
    <h3>Prénom : {{user.firstName}}</h3> 
    <h3>Nom : {{user.name}}</h3>
    <h3 id="age2" *ngIf="isAgeVisible">Age : {{user.age}}</h3>
    <!-- <h3 id="age">Age : {{user.age}}</h3> -->
    <div [ngStyle]="{backgroundColor:'salmon'}">
        <input type="text" [ngStyle]="{width:'100%'}" [(ngModel)]='user.quote' />
        <p>My favorite quote is "{{user.quote}}" but you can change it by filling the input :)</p>
        <button (click)="hideAge()" [ngStyle]="{backgroundColor: isAgeVisible? 'orange' : 'lightgreen'}">
            {{isAgeVisible ? 'masquer' : 'afficher'}} âge
        </button>
    </div>
    <h3>Mes loisirs : </h3> 
    <ul *ngFor="let hobby of user.hobbies">
        <li>{{hobby}}</li>
    </ul>
    
</div>

